/* popup.css */
body {
    width: 700px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: #ddd;
}
pre {
    font-family: Courier, monospace; /* Ensures the ASCII art aligns correctly */
    white-space: pre-wrap; /* Wraps text */
    word-wrap: break-word; /* Allows long lines to break and wrap to the next line */
    padding: 1px; /* Adds padding around the text */
    color:goldenrod;
}
a {
    color: rgb(5, 141, 209);
    text-decoration: none;
}
a:hover {
    color: rgb(236, 114, 114);
    text-decoration: none;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #202020;
    padding: 8px;
    text-align: left;
}
th {
    background-color: transparent;
}
#gptTable {
    margin-top: 20px;
}
.header {
    height: 50px;
    height: 100%;
    vertical-align: middle;
    align-items: center;
}
#searchInput {
    margin-top: 5px;
    height: 30px;
    width: 300px;
    background-color: #202020;
    color: #ddd;
    border: #5a5959 1px solid;
    border-radius: 3px;
}
#saveToCsvButton {
    margin-top: 0px;
    float: right;
    background-color: #2f00c8;
    color: #ddd;
    border: #5a5959 1px solid;
    border-radius: 3px;
    padding: 10px;
}
#saveToCsvButton:hover {
    margin-top: 0px;
    float: right;
    background-color: #f330d9;
    color: #ddd;
    border: #5a5959 1px solid;
    border-radius: 3px;
    padding: 10px;
}
button {
    background-color: #484848;
    color: #ddd;
    border: #5a5959 1px solid;
    border-radius: 3px;
    padding: 0px 3px 0px 3px;
}
button:hover {
    background-color: #b10000;
    color: #ddd;
    border: #5a5959 1px solid;
    border-radius: 3px;
    padding: 0px 3px 0px 3px;
}
/* Make the first td in each row bold */
tr td:first-child {
    font-weight: bold;
}

/* Alternate background color for tr */
tr:nth-child(even) {
    background-color: #1f1f1f; /* Light gray for even rows */
}

tr:nth-child(odd) {
    background-color: #2d2d2d; /* White for odd rows */
}
img {
    width: 50px; 
    float: left; 
    margin-right: 20px;
}

.action-link {
    margin-right: 5px;
}