body {
    width: 600px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: #ddd;
}
a {
    color: greenyellow;
    text-decoration: none;
}
a:hover {
    color: rgb(132, 6, 167);
    text-decoration: none;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #202020;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
#gptTable {
    margin-top: 20px;
}
.header {
    height: 50px;
    height: 100%;
    vertical-align: middle;
    align-items: center;
}
#searchInput {
    margin-top: 5px;
    height: 30px;
    width: 300px;
    background-color: #202020;
    color: #ddd;
    border: #5a5959 1px solid;
    border-radius: 3px;
}
#saveToCsvButton {
    margin-top: 0px;
    float: right;
    background-color: #5b0083;
    color: #ddd;
    border: #5a5959 1px solid;
    border-radius: 3px;
    padding: 10px;
}
#saveToCsvButton:hover {
    margin-top: 0px;
    float: right;
    background-color: #484848;
    color: #ddd;
    border: #5a5959 1px solid;
    border-radius: 3px;
    padding: 10px;
}
button {
    background-color: #484848;
    color: #ddd;
    border: #5a5959 1px solid;
    border-radius: 3px;
    padding: 0px 3px 0px 3px;
}
button:hover {
    background-color: #b10000;
    color: #ddd;
    border: #5a5959 1px solid;
    border-radius: 3px;
    padding: 0px 3px 0px 3px;
}
/* Make the first td in each row bold */
tr td:first-child {
    font-weight: bold;
}

/* Alternate background color for tr */
tr:nth-child(even) {
    background-color: #1f1f1f; /* Light gray for even rows */
}

tr:nth-child(odd) {
    background-color: #2d2d2d; /* White for odd rows */
}
img {
    width: 50px; 
    float: left; 
    margin-right: 20px;
}